
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   font-family: 'Ubuntu', sans-serif;
   color:rgb(20, 20, 20);
   margin: auto;
   

}
nav, header, aside, footer {
   font-family: 'Ubuntu', sans-serif;
   font-size: 10px;
   text-align: center;
   

}
span {
   color: black;

}
header {
   background-color: rgb(2, 2, 2);
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
   padding: 20px;
   min-height: 120px;
   min-width: 960px;
   box-shadow: 2px 2px 2px rgb(218, 218, 218);
  
}
.header-logo {
   width: 150px;
   height: 56px;

}
.header-botao:hover{
   background-color: green;

}
.header-botao {
   height: 20px;
   width: 160px;
   background-color: rgb(84, 247, 84);
   border-radius: 5px;
   border: none;
   color:rgb(0, 0, 0);
   font-size: 15px;
   padding: 15px;
}
.nav-lateral{ 
   background-color: rgb(243, 243, 243); 
   height: 500px;
   width: 150px;
   margin-top: 5px;
   margin-left: 0px;
   margin-right: 15px;
   margin-bottom: 15px;

}
   
body {
   
   background-color: rgb(255, 255, 255);
   margin: auto;
}
.conteudo-txt {
   text-align: center;
   text-indent: 30px;
   
}
.conteudo-titulo {
   font-weight: 200;
   font-size:20px;
   margin-top: 50px;
   border-top: 2px solid rgb(84, 247, 84);
   margin-right: 50px;
   margin-left: 50px; 
   text-align: center;
}
.conteudo-sub {
   font-size:15px;
   font-weight: 5;
   margin-top: 10px;
   text-align: center;
}
.conteudo-botao:hover{
   background-color: green;
   box-shadow: 2px 2px 2px black;

}
.conteudo-botao {
   text-align: center;
   height: 30px;
   width: 120px;
   background-color: rgb(84, 247, 84);
   border-radius: 5px;
   border: none;
   font-size: 15px;
   color:rgb(2, 2, 2);
   padding: 10px;
   
}
footer{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
   

}
.rodape {
   background-color: rgb(245, 245, 245);
}
.rodape-logo{
   width: auto;
   
}