
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   font-family: 'Ubuntu', sans-serif;
   color:rgb(20, 20, 20)

}
.header {
   background-color: rgb(2, 2, 2);
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
   padding: 20px;
  
}
.header-logo {
   width: 150px;
   height: 56px;

}
.header-botao:hover{
   background-color: green;
}
.header-botao {
   height: 30px;
   width: 160px;
   background-color: rgb(84, 247, 84);
   align-items: center;
   border-radius: 5px;
   border: none;
   text-align: center;
   color:rgb(0, 0, 0);
   font-size: 20px;
   
}
body {
   overflow: hidden;
   background-color: rgb(255, 255, 255);

}
.conteudo-txt {
   text-align: center;
   text-indent: 30px;

   
}
.conteudo-titulo {
   font-weight: 200;
   font-size:20px;
   margin-top: 50px;
   border-top: 2px solid rgb(84, 247, 84);
   margin-right: 50px;
   margin-left: 50px; 
   text-align: center;
}
.conteudo-sub {
   font-size:15px;
   font-weight: 5;
   margin-top: 10px;
   text-align: center;
}
.conteudo-botao:hover{
   background-color: green;

}
.conteudo-botao {
   text-align: center;
   height: 60px;
   width: 150px;
   background-color: rgb(84, 247, 84);
   border-radius: 5px;
   border: none;
   font-size: 30px;
   color:rgb(2, 2, 2);
}
.conteudo-paragrafos {
   text-align: center;
}
.rodape {
   background-color: rgb(245, 245, 245);
}
.rodape-logo {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
}